## encoding: utf-8
<%!
from djrq.templates.helpers import colon, nt_from_now
from datetime import datetime
%>

<%inherit file="djrq.templates.master"/>
<%block name="mainpage">
<div class="row">
        <div class="col-md-15">
<table class="table table-bordered table-striped table-condensed">
<%
 try:
  total_songs = songs.count()
 except:
  total_songs = len(songs)
 endtry
%>
 <caption><h4 align="center">Album: ${album.fullname}&lrm; (${total_songs} tracks)</h4></caption>
 <tr>
   <th>Artist</th><th>Track</th><th colspan=2>Title</th>
   <th class="hidden-xs">Length</th>
   <th>
   	<span class="hidden-xs">Last Played By</span>
   	<span class="visible-xs-block">Plays</span>
   </th>
 </tr>
% for row in songs:
<%
   try:
    p = len(row.played)
   except:
    p = row.played.count()
   else:
    p = 0
   endtry
   if p > 0:
    dp = row.played[0].date_played
    un = row.played[0].played_by
   else:
    dp = un = "&nbsp;"
   endif
   idx = loop.index
%>
 <tr>
 <td>${row.artist}</td>
 <td>${row.track}</td>
 <td>${row.title}</td>
  <td><%include file='djrq.templates.request_mistag_buttons' args="row=row, idx=idx"/>
  </td>
 <td class="hidden-xs">${row.time | colon}</td>
 <td><%include file='djrq.templates.common.lastplay_info' args='played=row.played'/></td>
 </tr>
% endfor
</table>
</div>
</div>
</%block>

