## encoding: utf-8
<%!
from djrq.templates.helpers import colon, nt_from_now
from datetime import datetime
%>

<%inherit file="djrq.templates.master"/>

<%block name="mainpage">
<div class="row">
 <div class="col-md-15">
  <table class="table table-bordered table-striped table-condensed">
<%
 try:
  total_songs = songs.count()
 except:
  total_songs = len(songs)
 endtry
%>
  <caption><h4 align="center">
% if viewing_new:
${total_songs} new songs by ${artist.fullname}&lrm; [View all songs by ${artist}]
% else:
Artist: ${artist.fullname}&lrm; (${total_songs} songs)
% endif 
 </h4></caption>
 <tr>
   <th colspan="2">Title</th><th>Album</th>
   <th class="hidden-xs">Length</th>
   <th>
   	<span class="hidden-xs">Last Played By</span>
   	<span class="visible-xs-block">Plays</span>
   </th>
 </tr>
% for row in songs:
 <tr>
 <td>${row.title}</td>
 <td><%include file='djrq.templates.request_mistag_buttons', args='row=row'/></td>
 <td>${row.album}</td>
 <td class="hidden-xs">${row.time | colon}</td>
 <td><%include file='djrq.templates.common.lastplay_info' args='played=row.played'/></td>
 </tr>
% endfor
</table>
</div>
</div>
</%block>

