<!DOCTYPE html>
<%!
from datetime import datetime
import web
import djrq
%>
<% current_page = web.core.request.environ['web.controller'] %> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DJ-bmillham's Music Library</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
%   if 'theme' in web.core.session:
 	<link href="/css/${web.core.session['theme']}-bootstrap.min.css" rel="stylesheet">
%	else:   
    <link href="/css/cerulean-bootstrap.min.css" rel="stylesheet">
%	endif
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/eldarion-ajax.min.js"></script>
    <link href="/css/theme.css" rel="stylesheet">
    <%doc><link href="/css/custom.css" rel="stylesheet"></%doc>
    <script type="text/javascript">
      $(document).ready(function(){
      	$('[data-toggle="popover"]').popover({
	        animation : true,
        	html : true,
      	});
	  	$(document).on("eldarion-ajax:begin", function(evt, $el) {
	    	$el.find('img#spinner').show();
	  	});
     	$(document).on("eldarion-ajax:success", function(evt, $el, data) {
	    	//console.log(data);
    		//alert(data.responseText);
    		//$el.parent().parent().parent().find('span.mistag').html(data.responseText);
    		//console.log($el);
    		//console.log($el.parent().parent());
    		//$el.parent().parent().parent().find('a').attr('data-content', data.datacontent);
    		//console.log($el.parent().parent());
    		$el.parent().parent().parent().popover('hide');
		});
	  });
    </script>
    <style>
      .popover {
        max-width: 250px;
        width: 250px;
      }
      .request-popover {
        height: 250px;
      }
      .mistag-popover {
        height: 390px;
        overflow: auto;
      }
      body {padding: 70px;}
% if show_title != '':
      body { padding-bottom: 80px; }
% endif
    </style>
  </head>
  <body role="document">
    <%include file="djrq.templates.common.navbar" args="current_page=current_page"/>
    <div class="container theme-showcase" role="main">
     <%block name="letterscontainer"/>     
     <%block name="mainpage"/>
    </div>
    <%include file="djrq.templates.footer"/>
    </p>
% if show_title != '':
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
  	 <div class="container-fluid">
      <p class="navbar-brand">Show Title: ${show_title}</p>
      <p class="navbar-brand navbar-right">Start Time: ${start_time}</p>
     </div>
    </nav>
% endif
  </body>
</html>
