## encoding: utf-8
<%!
from djrq.templates.helpers import colon, nt_from_now
from humanize import naturalsize
from datetime import datetime
import web
%>
<%inherit file="djrq.templates.master"/>
<%block name="mainpage">
<div class="col-sm-offset-4 col-sm-8">
 <h4>Site Options${' [Updated]' if settings_saved else ''}</h4>
</div>
<form  class="form-horizontal" id="siteoptionsform" action="/siteoptions" method="post">
 <div class="form-group">
   <label for="theme" class="col-sm-2 control-label">Select a Theme</label>
   <div class="col-sm-6">
    <select class="form-control" name="theme">
%  for theme in themes:
   	 <option ${'selected' if theme == current_theme else ''} value="${theme}">${theme.capitalize()}</option>
%  endfor
    </select>
   </div>
 </div>
 <div class="form-group">
  <label for"lettercheck" class="col-sm-4 control-label">Do Not Show Counts In Letter List:</label>
  <div class="col-sm-1">
   <input type="checkbox" ${'checked' if nolettercounts else ''} class="form-control" name="lettercheck" value="nolettercounts"/>
  </div>
 </div>
 <div class="form-group">
  <div class="col-sm-offset-4 col-sm-8">
   <button type="submit" class="btn btn-primary">Update Site Options</button>
  </div>
 </div>
</form>
</%block>
