<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="${relative('djrq.templates.admin.master')}" />

    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''" />

        <title>Login</title>
    </head>

    <body>
        <div class="content">
            <h1>Login</h1>

                     <form method="post" action="${web.request.script_name}">
                             <input type="hidden" name="redirect" value="${redirect}" />

                             <dl>
                                     <dt>User Name:</dt>
                                     <dd><input type="text" name="username" /></dd>

                                     <dt>Password:</dt>
                                     <dd><input type="password" name="password" /></dd>

                                     <dt></dt>
                                     <dd><input type="Submit" value="Login" /></dd>
                             </dl>
                     </form>
        </div>
    </body>
</html>