<!DOCTYPE html>
<%!
 from datetime import datetime
 from web import core
%>
<%
 current_page=None
 print "Lookup:", lookup(web.request.script_name), web.request.script_name
%>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DJ-bmillham's Music Library (Admin Mode)</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
%   if 'theme' in core.session:
 	<link href="/css/${core.session['theme']}-bootstrap.min.css" rel="stylesheet">
%	else:   
    <link href="/css/cerulean-bootstrap.min.css" rel="stylesheet">
%	endif

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/theme.css" rel="stylesheet">
  </head>
  <body role="document" <%block name="bodydata"/>>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="/admin"><span class="glyphicon glyphicon-cog"></span> Admin Requests <span class='badge' id="request_count">${requests_count}</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		    <li><a href="/admin/suggestions">Suggestions</a></li>
	    	<li><a href="/admin/mistags">Mistags</a></li>
	    	<li class="dropdown">
     		 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-edit"></span> <span class="caret"></span></a>
     		 <ul class="dropdown-menu" role="menu">
     		 	<%include file='djrq.templates.menuitem' args='title="Show Information", link="/options/showinfo"' />
      		  <%include file='djrq.templates.menuitem' args='title="Last Played", link="/options/lastplayed"' />
      		  <%include file='djrq.templates.menuitem', args='title="Requests", link="/options/requests"' />
      		  <%include file='djrq.templates.menuitem', args='title="Catalog Selection", link="/options/catalog"' />
     		 </ul>
    		</li>
    		<li class="dropdown">
     		 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-file"></span> <span class="caret"></span></a>
     		 <ul class="dropdown-menu" role="menu">
      		  <%include file='djrq.templates.menuitem' args='title="Upload/Download Private Files", link="/upload/private"' />
      		  <%include file='djrq.templates.menuitem', args='title="Upload/Download Shared Files", link="/upload/shared"' />
     		 </ul>
    		</li>
    		<li><a href="/admin/sitenews"><span class="glyphicon glyphicon-bullhorn"></span></a></li>
    		<li><a href="logout"><span class="glyphicon glyphicon-off"></span></a></li>
	    	<li class="navbar-right">
	    	 <a href="/"><span class="glyphicon glyphicon-home"></span></a>
	    	</li>
		    
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
     <%block name="mainpage"/>
    </div>
    <%include file="djrq.templates.footer"/>
  </body>
</html>
