<%inherit file="djrq.templates.admin.master"/>
<%block name="mainpage">
<div class="row">
 <div class="col-xs-12">
  <h4 align="center">Site News</h4>
 </div>
</div>
<div class="row">
 <div class="col-xs-2">
  <b>2015-08-07</b>
 </div>
 <div class="col-xs-10">
  Welcome to the new djrq request site! Check here for changes to the site. The site is currently
  under development, so expect frequent changes.
 </div>
</div>
<div class="row">
 <div class="col-xs-2"></div>
 <div class="col-xs-10">
  Got the basic admin pages working with authentication.
 </div>
</div>
<div class="row">
 <div class="col-xs-2"></div>
 <div class="col-xs-10">
  Got this page working.
 </div>
</div>
</%block>