body {
  padding-top: 50px;
  padding-bottom: 0px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 10px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-inverse {
    //linear-gradient(to bottom #2FC918 0px #22 100%);
    $background: linear-gradient(top, #2FC918, #22);
}
